body {
  font-family: monospace;
}

h1 {
  text-align: center;
  font-size: 28px;
  padding: 10px;
}

li {
  list-style: none;
  display: block;
  line-height: 19px;
  margin-top: 10px;
  text-transform: capitalize;
}
img.background {
  position: fixed;
  max-height: 70%;
  opacity: 0.7;
  width: 100%;
  margin: 0 auto;
  left: 0;
}

.weather-app {
  border: 2px solid;
  border-radius: 5px;
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 10px;
}
.weather-app strong {
  font-size: 25px;
  font-weight: 300px;
  line-height: 1;
}
.unit {
  position: relative;
  font-size: 16px;
  top: -20px;
}
.source-code {
  text-align: center;
}
:hover.source-code {
  text-decoration: underline;
  color: blueviolet;
}
.city-form {
  position: fixed;
  right: 0;
  top: 10px;
  background: transparent;
}
